.venv/
.ipynb_checkpoints/
*.ipynb
.idea/
__pycache__/
output/

# ignore all files in the stan folder...
src/march_madness/stan/*
# EXCEPT the files with a file extension of some kind
!src/march_madness/stan/*.*